---
- name: devbox
  hosts: devbox.local

  vars:
    # 5.3.29, 5.4.45, 5.5.32, 5.6.18, 7.0.3
    phpbrew:
      compile: { 5.4.45, 5.5.32, 5.6.18, 7.0.3 }
    # version: https://www.phpmyadmin.net/downloads/
    # language: "all-languages" or "english"
    phpmyadmin:
      install: { version: 4.5.5, language: english }
    apache2:
      fpm: { ext: 80, int: 9000 }
      hhvm: { ext: 8080, int: 9001 }
    nginx:
      fpm: { ext: 81, int: 9000 }
      hhvm: { ext: 8181, int: 9001 }

  roles:
    - { role: configure_user }
    - { role: default_packages }
    #- { role: php5-fpm }
    - { role: phpbrew }
    - { role: hhvm }
    - { role: apache2 }
    - { role: nginx }
    - { role: mysql }
    - { role: nfs }
    - { role: samba }
    - { role: phpmyadmin }
    - { role: composer }
    - { role: phpunit }
    - { role: nodejs }
    - { role: mongodb }
    - { role: elasticsearch }
